body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  height: 4rem;
  background-color: white;
}

.fa-solid {
  color: #00b2ff;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  margin: 0 10px;
}

.container {
  flex: 1;
}

.fa-compass {
  color: #00b2ff;
  font-size: 2rem;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  vertical-align: middle;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-link {
  color: #000000;
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New page */
.add-btn {
  background-color: #00b2ff !important;
  border: none !important;
}

/* edit page */
.edit-btn {
  background-color: #00b2ff !important;
  border: none !important;
}

/* Show page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.logIn {
  color: black;
}

/* map style */
#map {
  height: 400px;
  width: 100vh;
}

/* filter icons */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter div i {
  font-size: 1.2rem;
}

.filter p {
  font-size: 0.8rem;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 5rem;
  display: flex;
  align-items: center;
}

.tax-info {
  display: none;
}

/* navbar search */
.search-btn {
  background-color: #00b2ff;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.search-btn:hover {
  background-color: #00b2ff;
  color: #fff;
}

.search-btn i {
  color: #fff;
  display: inline;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.search-ipt {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}
